.nav_contaner{
align-items: center;
padding: 10px 0;
 /* background: linear-gradient(to bottom, #0d0d2b, #000000); */
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b2c1a811e2a5f291170d625274d4d33e7c883306
 position: sticky;
 top: 0%;
 left: 0%;
 z-index: 1;
<<<<<<< HEAD
=======
=======
>>>>>>> 4fad55e698815246da7c4fd0b544b107d8218f67
>>>>>>> b2c1a811e2a5f291170d625274d4d33e7c883306
}

.logo img{
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
}
